<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(https://images8.alphacoders.com/732/732146.jpg);">
  <div class="container">
    <h1>Welcome to Dino camp</h1>
    <h2>Pick out your favorite dinosaurs, have them grow stonger!</h2>
    <p>Face hard challenges and walk amongst dangerous territories</p>
    <a class="btn btn-banner" href="/dinos"><span>Play now</span></a>
  </div>
</div>
